Repository voxpupuli/puppet-augeasproviders_syslog, pull requests merged in 2024-04, with the labels that each got.

#16 Add Puppet 8 support
  metadata.json
Labels: enhancement

#17 migrate dependency to voxpupuli; puppet/augeasproviders_core: allow 4.x
  metadata.json
Labels: enhancement

#19 Release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#20 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .gitignore
  .msync.yml
  Dockerfile
Labels: modulesync

#21 modulesync 7.5.0
  .msync.yml
Labels: modulesync
